*{
	margin:0;
	
}
.quiz{  
	height: 100%;
	width: 100%;
	position: fixed;
	text-align: center;	
	z-index: 1;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/quiz.svg);
	overflow-x: hidden;
	background-size: contain;
}

#quiz{
	visibility: hidden;
}

.button {
    position: fixed;	
    bottom: 15%;
    left: 10%;	
    padding: 16px 32px;
	background-color: white;
	color: black;
	border: 2px solid #000;
	border-radius: 10px;
	
	text-align: center;
	transition-duration: 0.8s;
	cursor: pointer;
}
.button:hover {
	background-color: #000;
	color: white;
}
.buttons {
    
	border: 2px solid #000;
    /*padding: 16px 32px;*/
	background-color: white;
	color: black;
	/*border: 2px solid #000;*/
	border-radius: 10px;
	
	text-align: center;
	
	transition-duration: 0.8s;
	cursor: pointer;
}
.buttons:hover {
	background-color: #000;
	color: white;
}
#intro{
	transition: 0.4s;

}
table{
	visibility: hidden;
	width: 100%;
	text-align: center;
}
