body{
	background:linear-gradient(to right,red,blue);
	text-align: center;
	color: green;
}

.button{
	padding: 25px 100px 25px 100px;
	border-radius: 50px;
	background-color: white;
	position: relative;
	top:100px;
}
.button:hover{
	-webkit-transform: scale(1.05);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
